<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.UserDAO">
         
         <sql id="allmenbers">
         id,
         email,
         name,
         passwd
         </sql>
         
         <insert id="insertUser" parameterType="User" keyProperty="id">
             insert into User(  
         email,
         name,
         passwd) 
         values 
         (        
         #{email},
         #{name},
         #{passwd})
         </insert>
         
         <delete id="deleteUser" parameterType="int">
             delete from User where id = #{id}
         </delete>
         
         <update id="updateUser" parameterType="User">
             update User set name = #{name} where id = #{id}
         </update>
         
         <select id="getUserById" parameterType="int" resultType="User">
           select * from User where id=#{id}
         </select> 
         
         <select id="getAllUser" resultType="User">
             select * from User
         </select>
         
         

</mapper>
